# Dependencies
node_modules/
*/node_modules/

# Environment Variables
.env
.env.local
.env.*.local
*/.env
*/.env.local

# Production Build outputs
dist/
build/
*/dist/
*/build/

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.turbo
.cache

# Vite / TS builds
.tsbuildinfo
*/.tsbuildinfo
